<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MenuV2/style.css') }}">
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' crossorigin='anonymous'></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    <!-- Header and Navigation -->
    <header  style="z-index: 9999;">
        <nav style= "max-width:1140px; margin-left:auto; margin-right:auto;">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='contents/avocat/logo.png') }}" alt="Encheres Logo" class="logo-image">
                </a>
            </div>
          
          <div style="margin-bottom: 14px;"><label for="menubrop" class="bartoggle">≡</label></div>
          <input type="checkbox" id="menubrop">
          <ul class="NavMenu" id="myDIV">
            
            {% if current_user.is_superuser%}
                <li  class="link   {% if request.endpoint == 'index' %}active{% endif %}"><a href="{{ url_for('index') }}">Accueil</a></li>
                <li  class="link  {% if request.endpoint == 'backed' %}active{% endif %}"><a href="{{ url_for('backed') }}">Sauvegardée</a></li>
            {% else %}
                <li class="link   {% if request.endpoint == 'outil' %}active{% endif %}"><a href="{{ url_for('outil') }}">Notre outil</a></li>
                <li class="link   {% if request.endpoint == 'pricing' %}active{% endif %}"><a href="{{ url_for('pricing') }}">Prix</a></li>
                <li class="link   {% if request.endpoint == 'frais' %}active{% endif %}"><a href="{{ url_for('frais') }}">Simulation des frais</a></li> 
                <li class="link   {% if request.endpoint == 'preparer' %}active{% endif %}"><a href="{{ url_for('preparer') }}">Générer vos rapports</a></li>
                <li  class="link  {% if request.endpoint == 'contact' %}active{% endif %}"><a href="{{ url_for('contact') }}">Contact</a></li>
            {% endif %}
            <li id="wrapded_li"><a href="javascript:void(0)" for="droplist1" class="toggle" style="color: #fff;">PROFILE 
                <span class="profile-icon {% if is_authenticated %}logged-in{% endif %}">
                    <i class="fas fa-user-circle"></i>
                </span> 
                </a>
              <ul id="the_specsul" style="width: 100%;background-color: #666;border-bottom: none;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
                {% if is_authenticated %}
                    <li style="width: 100%;"><a    style="text-align: left;color: white;border-left: none;font-size: 10px;padding-left: 8px;padding-right: 0px;" href="{{ url_for('logout') }}">Se déconnecter</a></li>
                    <li style="width: 100%;"><a    style="text-align: left;color: white;border-left: none;font-size: 10px;padding-left: 8px;padding-right: 0px;" href="{{ url_for('profile') }}">Profile</a></li>
                    <li style="width: 100%;"><a    style="text-align: left;color: white;border-left: none;font-size: 10px;padding-left: 8px;padding-right: 0px;" href="{{ url_for('mes_rapports') }}">Mes Rapports</a></li>
                    
                {% else %}
                    <li style="width: 100%;"><a    style="text-align: left;color: white;border-left: none;font-size: 12px;padding-left: 8px;padding-right: 0px;"  href="{{ url_for('connexion') }}">Se connecter</a></li>
                    <li style="width: 100%;"><a    style="text-align: left;color: white;border-left: none;font-size: 12px;padding-left: 8px;padding-right: 0px;"  href="{{ url_for('inscription') }}">S'inscrire</a></li>
                    <li style="width: 100%;"><a    style="text-align: left;color: white;border-left: none;font-size: 12px;padding-left: 8px;padding-right: 0px;"  href="{{ url_for('reinitialisation') }}">Réinitialiser</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </nav>
    </header> 

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}



    <!-- Main Content -->
    <main class="my-globcontainer">

        


        {% block content %}
        {% endblock %}

        


    </main>

    {% block footer %}
        <footer>
            <div class="info">
                <h2>Informations de contact</h2>
                <p>Email : support@monentreprise.com</p>
                <p>Téléphone : +33 1 23 45 67 89</p>
                <p>Adresse : 123 Rue de l'Entreprise, 75000 Paris, France</p>
            </div>
        </footer>
    {% endblock %}

</body>

<script>
    window.onload =function() {
        console.log("DOM fully loaded and parsed in base v3"); // Debugging step

        document.querySelector('#the_specsul').addEventListener('mouseenter', function() {
            console.log("Mouse entered on profile dropdown");
            document.querySelector('.carousel').style.pointerEvents = 'none';
        });

        document.querySelector('#the_specsul').addEventListener('mouseleave', function() {
            console.log("Mouse leaved of profile dropdown");
            document.querySelector('.carousel').style.pointerEvents = 'auto';
        });

        //wrapded_li

        document.querySelector('#wrapded_li').addEventListener('mouseenter', function() {
            console.log("Mouse entered on wrapded_li");
            document.querySelector('.carousel').style.pointerEvents = 'none';
        });

        document.querySelector('#wrapded_li').addEventListener('mouseleave', function() {
            console.log("Mouse leaved of  wrapded_li");
            document.querySelector('.carousel').style.pointerEvents = 'auto';
        });

        let colorPickers = document.querySelectorAll('input[type="color"]');
        
        if (colorPickers.length === 0) {
            console.warn("No color input elements found");
            return; // Exit if no color inputs exist
        }

        colorPickers.forEach(picker => {
            picker.addEventListener('click', function(event) {
                console.log("picker is clicked"); // Check if this appears in console

                let form = document.getElementById("customizesform");
                if (!form) {
                    console.warn("customizesform not found");
                    return;
                }

                let formBounds = form.getBoundingClientRect();
                let pickerBounds = event.target.getBoundingClientRect();

                if (pickerBounds.top < formBounds.top) {
                    event.target.style.position = "absolute";
                    event.target.style.top = `${formBounds.top + 10}px`;
                }
            });
        });
    };
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("Doc load in base html");
        
        const banner = document.getElementById('cookie-consent-banner');
        const acceptButton = document.getElementById('accept-cookies');
        const navbarLinks = document.querySelectorAll('.link');
        const dropdownLinks = document.querySelectorAll('#the_specsul a');

        // Check if cookies have been accepted
        if (!document.cookie.includes('cookiesAccepted=true')) {
            var myModal = new bootstrap.Modal(document.getElementById('cookieConsentModal'), {
                backdrop: 'static',  // Prevent the modal from closing when clicking outside
                keyboard: false      // Disable closing modal with the escape key
            });
            myModal.show();

            navbarLinks.forEach(link => {
                link.classList.add('disabled-link');
            });

            dropdownLinks.forEach(link => {
                link.classList.add('disabled-link');  // Disable the <a> tags in the dropdown
                link.style.pointerEvents = 'none';  // Disable clicking
                link.style.opacity = '0.5';  // Optionally, dim the links to show they're disabled
            });

            acceptButton.addEventListener('click', function() {
                // Set a cookie for cookies accepted
                document.cookie = "cookiesAccepted=true; path=/; max-age=" + 60 * 60 * 24 * 365; // Expires in 1 year

                myModal.hide();
                

                navbarLinks.forEach(link => {
                    link.classList.remove('disabled-link');
                });

                dropdownLinks.forEach(link => {
                    link.classList.remove('disabled-link');  // Enable the <a> tags in the dropdown
                    link.style.pointerEvents = 'auto';  // Re-enable clicking
                    link.style.opacity = '1';  // Reset the opacity
                });
            });
        }
    });

    
    document.addEventListener("DOMContentLoaded", function() {
        // Existing JavaScript for active class toggle
        var btnContainer = document.getElementById("myDIV");
        var btns = btnContainer.getElementsByClassName("link");

        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }

        // Handle the PROFILE dropdown toggle on click
        // var toggle = document.querySelector(".toggle");    
        // if (toggle) {
        //   toggle.addEventListener("click", function() {
        //     const dropdown = document.getElementById("the_specsul");
        //     dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        //     // Toggle the 'no-scroll' class on the body
        //     if (dropdown.style.display === "block") {
        //         document.body.classList.add("no-scroll");
        //     } else {
        //         document.body.classList.remove("no-scroll");
        //     }
        //   });
        // }

        // Handle the menu toggle
        var menubrop = document.getElementById('menubrop');
        var myindictorsbut = document.getElementById('mysindic');   
        var mysindicpr = document.getElementById('mysindicpr');
        var mysindicnx = document.getElementById('mysindicnx');
        menubrop.addEventListener('change', function() {
            if (menubrop.checked) {
                document.body.classList.add('no-scroll');
                myindictorsbut.style.display = "none";
                mysindicpr.style.display = "none";
                mysindicnx.style.display = "none";
                
            } else {
                document.body.classList.remove('no-scroll');
                myindictorsbut.style.display = "flex";
                mysindicpr.style.display = "flex";
                mysindicnx.style.display = "flex";
                
            }
        });

        

    }); 
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alertContainer = document.querySelector('.alert-container');
        if (alertContainer) {
            alertContainer.style.display = 'block'; // Show the alert

            // Hide the alert after 5 seconds (5000ms)
            setTimeout(function() {
                alertContainer.style.display = 'none';
            }, 1000);
        }
    });
</script>

</html>