{% extends 'baseV3.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}

<!-- <div class="flex-container"> -->
  
  <!-- Bloc d'inscription -->
  <!-- <form action="/register_page.php" id="register">
    <div class="container">
      <h1>Inscription</h1>
      <p>Veuillez remplir ce formulaire pour créer un compte.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Entrez votre Email" name="email" id="email" required>

      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Entrez votre mot de passe" name="psw" id="psw" required>

      <label for="psw-repeat"><b>Répétez le mot de passe</b></label>
      <input type="password" placeholder="Répétez le mot de passe" name="psw-repeat" id="psw-repeat" required>
      <hr>
      <p>En créant un compte, vous acceptez nos <a href="#">Conditions d'utilisation & Politique de confidentialité</a>.</p>

      <button type="submit" class="registerbtn">S'inscrire</button>
    </div>
    
    <div class="container signin">
      <p>Vous avez déjà un compte ? <a href="#login">Se connecter</a>.</p>
    </div>
  </form> -->

  <!-- Bloc de connexion -->
  <!-- <form action="/login_page.php" id="login">
    <div class="container">
      <h1>Connexion</h1>
      <p>Veuillez entrer vos informations pour vous connecter.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Entrez votre Email" name="email" id="email" required>

      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Entrez votre mot de passe" name="psw" id="psw" required>
      <hr>
      <button type="submit" class="loginbtn">Se connecter</button>
    </div>
    
    <div class="container signin">
      <p>Vous avez oublié votre mot de passe ? <a href="#reset">Réinitialiser le mot de passe</a>.</p>
      <p>Vous n'avez pas de compte ? <a href="#register">S'inscrire</a>.</p>
    </div>
  </form> -->

  <!-- Bloc de réinitialisation du mot de passe -->
  <!-- <form action="/reset_password.php" id="reset">
    <div class="container">
      <h1>Réinitialisation du mot de passe</h1>
      <p>Veuillez entrer votre adresse email pour réinitialiser votre mot de passe.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Entrez votre Email" name="email" id="email" required>

      <hr>
      <button type="submit" class="resetbtn">Réinitialiser le mot de passe</button>
    </div>
    
    <div class="container signin">
      <p>Vous avez déjà un compte ? <a href="#login">Se connecter</a>.</p>
      <p>Vous n'avez pas de compte ? <a href="#register">S'inscrire</a>.</p>
    </div>
  </form>

</div> -->
<form action="{{ url_for('connexion') }}" method="POST" id="login">
  {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
  <div class="container">
      <h1>Connexion</h1>
      <p>Veuillez entrer vos informations pour vous connecter.</p>
      <hr>

          {% if error_message %}
            <p class="error_msg" id="error-message">{{ error_message }}</p>
          {% endif %}
          <p class="error_msg" id="error-message-script" style="display: none;"></p>


          <!-- {% if success_message %}
          <p class="success_msg" id="success-message">{{ success_message }}</p>
          {% endif %} -->

      <label for="email"><b>Email</b><span class="required">*</span></label>
      {% if  email_f %}
        <input type="text" class="form-input"  value="{{email}}" name="email" id="email" > 
      {%else%}
        <input type="text" class="form-input" placeholder="Entrez votre Email" name="email" id="email" value="{{ request.form.get('email', '') }}" >
      {% endif %}

      {% if errors.email %}
          <p class="error_msg_alpha">{{ errors.email }}</p>
      {% endif %}
      

      <label for="psw"><b>Mot de passe</b><span class="required">*</span></label>
      {% if  pass_f %}
        <input type="password" class="form-input" value="{{ password}}" name="psw" id="psw" >
      {%else%}
        <div style="position: relative;">
          
          <input type="password" class="form-input" placeholder="Le mot de passe" name="psw" id="psw" oninput="toggleEyeVisibility()" >
          <span 
              id="togglePassword" 
              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; display: none;" 
              onclick="togglePasswordVisibility()"
          >
              <svg id="showIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="display: inline;margin-left: -50px;margin-bottom: 14px;">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z" />
              </svg>
              <svg id="hideIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="display: none; margin-left: -50px;margin-bottom: 14px;">
                <!-- Eye Shape -->
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7C3.732 7.943 7.523 5 12 5z" />
                <!-- Eye Pupil -->
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <!-- Diagonal Slash -->
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4l16 16" />
              </svg>
          </span>
          
        </div>
      {% endif %}
      {% if errors.password %}
          <p id = "pass_error_mgs" class="error_msg_alpha">{{ errors.password }}</p>
      {% endif %}
      
      <label style= "margin-top:10px;">
        <input type="checkbox" name="remember_me" id="remember_me">
        <b>Se souvenir de moi</b>
      </label>
      <hr>
      <div tabindex="0" id="captcha_container">
        <div id="captcha_id" class="g-recaptcha" data-sitekey="6LdlnooqAAAAAGPBP_jjP8JZl6VmnurDRg2Zx9hy"></div>
    </div>
    <p style= "margin-top:-5px;" class="error_msg_alpha" id="error-message-script-captcha" style="display: none;"></p>

      <form action="{{ url_for('connexion') }}" method="POST" id="login">
      <input type="hidden" name="next" value="{{ request.args.get('next') }}">
      <button type="submit" class="loginbtn">Se connecter</button>
  </div>

  <div class="container signin">
      <p>Vous avez oublié votre mot de passe ? <a href="{{ url_for('reinitialisation') }}">Réinitialiser le mot de passe</a>.</p>
      <p>Vous n'avez pas de compte ? <a href="{{ url_for('inscription') }}">S'inscrire</a>.</p>
      <p>Nos termes et conditions <a href="{{ url_for('conditions') }}">Conditions d'utilisation & Politique de confidentialité</a>.</p>

  </div>
</form>

<!-- JavaScript for validation -->
<script>
  // Dynamically set the password value
  const passwordValue = "{{ password }}"; // Pass the value from the Flask context
  document.getElementById("psw").value = passwordValue;
</script>
<script>
  function validateForm() {
      const errorMessage = document.getElementById('error-message');

      if (errorMessage && errorMessage.innerText) {
          // Show the error message
          errorMessage.style.display = 'block';
          return false;  // Prevent form submission
      } else {
          // Hide the error message if passwords match
          errorMessage.style.display = 'none';
          return true;  // Allow form submission
      }

      if (successMessage && successMessage.innerText) {
          // Show the error message
          successMessage.style.display = 'block';
          return true;  // Prevent form submission
      } else {
          // Hide the error message if passwords match
          successMessage.style.display = 'none';
          return false;  // Allow form submission
      }
  }
</script>

<script>
  document.getElementById('login').addEventListener('submit', function(event) {
      
      const errorMessage = document.getElementById('error-message-script-captcha');
  
      // Check reCAPTCHA response
      const recaptchaResponse = grecaptcha.getResponse();

      if (!recaptchaResponse) {
          event.preventDefault(); // Prevent form submission
          errorMessage.textContent = "Veuillez vérifier le reCAPTCHA avant de soumettre le formulaire.";
          errorMessage.style.display = 'block';
          errorMessage.scrollIntoView({ behavior: 'smooth', block: 'center' });
      } else {
          errorMessage.style.display = 'none'; // Hide the error message if valid
      }
  });
</script>


<script>
    function togglePasswordVisibility() {
      const passwordField = document.getElementById('psw');
      const showIcon = document.getElementById('showIcon');
      const hideIcon = document.getElementById('hideIcon');

      if (passwordField.type === 'password') {
          passwordField.type = 'text';
          showIcon.style.display = 'none';
          hideIcon.style.display = 'inline';
      } else {
          passwordField.type = 'password';
          showIcon.style.display = 'inline';
          hideIcon.style.display = 'none';
      }
  }

  function toggleEyeVisibility() {
      const passwordField = document.getElementById('psw');
      const togglePassword = document.getElementById('togglePassword');
      const errorMessages = document.getElementById('pass_error_mgs');
      
      // Show the eye icon if there is text in the password field
      if (passwordField.value) {
          togglePassword.style.display = 'block';
          errorMessages.style.display = 'none';
      } else {
          togglePassword.style.display = 'none';
      }
  }
</script>



<script>
    document.addEventListener("DOMContentLoaded", function() {
      const inputs = document.querySelectorAll(".form-input");
      const errorMessages = document.querySelectorAll(".error_msg_alpha");

      // Add a focus event listener to each input field
      inputs.forEach((input) => {
          input.addEventListener("focus", function() {
              // Check if the next sibling is an error message and hide it
              const errorMsg = input.nextElementSibling;
              if (errorMsg && errorMsg.classList.contains("error_msg_alpha")) {
                  errorMsg.style.display = "none";
              }
          });
      });
  });
</script>


{% block footer %}
<!-- Footer is disabled for this page -->
{% endblock %}

{% endblock %}


