{% extends 'baseV3.html' %}

{% block title %}Rapports Excel pour Avocats{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
     

     

    footer h2 {
        color: #04aa6d; /* Change the color of the h2 in footer to green */
        font-weight: bold;
    }
    
     

    #menubrop:checked + .NavMenu + #carouselExample .carousel-indicators {
        display: none;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;  
    }

    .carousel-item  img{
        height: 500px;
    }

     

    
</style>

<div style="padding: 20px;"><h2 style="text-align:center;color: #04aa6d; font-weight: bold;">Accueil</h2></div>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators"   id="mysindic">
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button style="background-color: #04aa6d;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-1.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"  data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-2.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"   data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-3.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"   data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-4.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"   data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-5.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"   data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-6.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"   data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-7.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item"  data-bs-interval="3000">
        <img src="{{ url_for('static', filename='images/image-8.png') }}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button id="mysindicpr" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button  id="mysindicnx" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Cookie Consent Modal -->
<div class="modal fade" id="cookieConsentModal" tabindex="-1" aria-labelledby="cookieConsentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cookieConsentModalLabel">Consentement aux cookies</h5> 
        </div>
        <div class="modal-body">
          <p>Ce site utilise des cookies pour améliorer votre expérience. En poursuivant votre navigation sur ce site, vous acceptez notre utilisation des cookies.</p>
        </div>
        <div class="modal-footer">
          <button   id="accept-cookies"  style="background-color: #04aa6d;color: white;">Accepter</button>
        </div>
      </div>
    </div>
</div>

<div style="padding-top: 2rem;">
    <h1>Offrez un Accompagnement Supplémentaire à vos Clients et Gagnez en Compétitivité avec Nos Rapports d’Enchères Personnalisés</h1>
    <p>Le marché des ventes par adjudication est complexe, et il devient essentiel pour les avocats de fournir à leurs clients enchérisseurs des conseils non seulement juridiques, mais aussi financiers. En vous associant à notre solution, vous offrez à vos clients un avantage décisif : des <strong>rapports Excel personnalisés</strong>, conçus pour maximiser leur succès aux enchères et garantir la rentabilité de leurs opérations.</p>

    <div class="highlightV2">
        <h2>Pourquoi Proposer Nos Rapports à Vos Clients ?</h2>
        <p>En tant qu’avocat, vous accompagnez vos clients dans des démarches souvent ardues. Pourtant, certaines décisions financières dépassent le cadre de vos compétences habituelles. Nos rapports Excel viennent combler cette lacune en offrant des analyses pointues sur des aspects critiques tels que :</p>
        <ul>
            <li><strong>La fixation d'un prix limite compétitif</strong>, aligné avec les tendances du marché.</li>
            <li><strong>L'évaluation du potentiel de revente</strong>, pour assurer des bénéfices futurs.</li>
            <li><strong>La simulation de divers scénarios financiers</strong>, incluant les coûts de travaux, les frais d’acquisition et la rentabilité globale.</li>
        </ul>
        <p>En intégrant ces outils dans votre offre de service, vous offrez une valeur ajoutée concrète à vos clients, tout en renforçant votre expertise.</p>
    </div>

    <div class="highlightV2">
        <h2>Une Opportunité pour Développer Votre Base Clientèle</h2>
        <p>En proposant ces rapports personnalisés, vous positionnez votre cabinet en tant qu’accompagnateur stratégique des enchérisseurs. Cette approche vous permet de :</p>
        <ul>
            <li><strong>Fidéliser vos clients</strong> grâce à une prestation complète qui va au-delà du simple conseil juridique.</li>
            <li><strong>Attirer une nouvelle clientèle</strong>, désireuse d’être guidée avec des outils précis et concrets pour maximiser leurs chances de succès aux enchères.</li>
            <li><strong>Renforcer votre avantage concurrentiel</strong>, en vous distinguant par une offre différenciée qui combine expertise juridique et analyse financière.</li>
        </ul>
    </div>

    <div class="highlightV2">
        <h2>Des Résultats Concrets pour Vos Clients Enchérisseurs</h2>
        <p>Vos clients bénéficient de rapports Excel clairs et actionnables, qui les aident à :</p>
        <ul>
            <li><strong>Définir des stratégies gagnantes</strong> en optimisant leurs enchères.</li>
            <li><strong>Maximiser la rentabilité de leurs investissements</strong> en anticipant les coûts et les profits potentiels.</li>
            <li><strong>Réduire les risques financiers</strong> en s'appuyant sur des données fiables et des analyses complètes.</li>
        </ul>
    </div>

    <p>En intégrant nos rapports Excel dans votre stratégie, vous offrez une prestation premium à vos clients tout en augmentant vos opportunités commerciales et votre réputation dans le domaine des enchères judiciaires.</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}