{% extends 'baseV3.html' %}

{% block title %}Preparer{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr"></script>

<style>
    input[type="color"] {
        position: relative;
        z-index: 10;
        max-height: 40px; /* Ensuring it doesn't push elements up */
        overflow: hidden;
    }

    #customizesform {
        overflow: hidden;
        position: relative;
    }
</style>

<div style = "padding:20px;"><h2  class="top_headings"  style="text-align:center">Générer vos rapports</h2></div>
{% if  cities == "none" %}
    <div id="rep-consent-banner">
        <p>quelque chose s'est mal passé, veuillez contacter l'administrateur.</p> 
    </div>
{%else%}

    <div id="rep-consent-banner_endone"  style="display: none;padding-bottom: 4rem;">
        <p>Vous avez atteint votre limite de téléchargement de rapports.Veuillez souscrire à un nouvel abonnement.</p>
        <button id="accept-mes_endone">Très bien</button>
    </div>

    {% if  rep_count %}
        <div id="rep-consent-banner">
            <p>Vous avez atteint votre limite de téléchargement de rapports.Veuillez souscrire à un nouvel abonnement.</p>
            <button id="accept-mes">Très bien</button>
        </div>
    {%else%}
    


        <div class="step"  id="the_step">
            <h2 onclick="toggleDetails('feesSimulator')"><span class="toggle-icon">+</span> Customisez vos rapports</h2>
            <div class="details" id="feesSimulator">
        <p>Vous pouvez customiser vos rapports en ajoutant une image, en sélectionnant les couleurs dans cette image à l’aide du color picker et en modifiant la police du text</p>
        <div style="display: flex; justify-content: center;">
            <img id="orgimg" src="{{ url_for('static', filename='user_images/' + user.user_image) if user_image_flag else url_for('static', filename='images/image-0.png') }}" alt="User Logo" style="max-width: 300px; max-height: 300px;">
        </div>

        <div id="logowrapdiv" class="form-customiser" style="width: 50%; margin: 0 25% 0 25%;">
            <label for="logo">Upload Logo:</label>
            <input type="file" id="logo" name="logo" accept="image/*" onchange="uploadLogo()">
        </div>
        <canvas id="colorCanvas" style="display:none; width: 50%; margin: 0 25% 0 25%;"></canvas>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('customise_report') }}"  id="customizesform">
            {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
            <div class="faris_container">
                <div class="faris_left">
                    <!-- Circle for displaying the image with a green border -->
                    <!-- <div class="circle-container" style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; 
                                                        display: flex; justify-content: center; align-items: center; 
                                                        border: 5px solid green; margin-right: 20px;">
                        <img id="orgimg" src="{{ url_for('static', filename='user_images/' + (user.user_image if user.user_image else 'image-0.png')) }}" 
                            alt="User Logo" 
                            style="width: 100%; height: 100%; object-fit: cover;">
                    </div> -->
                    
                    <!-- Upload button -->
                    <div class="form-customiser" style="width: auto;">
                        <!-- <label for="logo">Upload Logo:</label>
                        <input type="file" id="logo" name="logo" accept="image/*">    -->
                    </div>
                </div>
                
                <div class="faris_right">
                    <div class="form-customiser">
                        <label for="fontFamily">Font Family:</label>
                        <select id="fontFamily" name="fontFamily" onchange="updateFontPreview()">
                            <option value="Arial" {% if user.fontFamily == 'Arial' %}selected{% endif %}>Arial</option>
                            <option value="Times New Roman" {% if user.fontFamily == 'Times New Roman' %}selected{% endif %}>Times New Roman</option>
                            <option value="Courier New" {% if user.fontFamily == 'Courier New' %}selected{% endif %}>Courier New</option>
                            <option value="Georgia" {% if user.fontFamily == 'Georgia' %}selected{% endif %}>Georgia</option>
                            <option value="Verdana" {% if user.fontFamily == 'Verdana' %}selected{% endif %}>Verdana</option>
                            <option value="Cambria" {% if user.fontFamily == 'Cambria' %}selected{% endif %}>Cambria</option>
                        </select>
                    </div>
                </div>
            </div>
        

            <!-- <canvas id="colorCanvas" style="display:none; max-width: 300px; max-height: 300px;"></canvas> -->
            
                <!-- Color pickers -->

                <div class="form-customiser"  >
                    <label for="bg_color">Couleur d'arrière plan</label>
                    <input type="color" id="bg_color" name="bg_color" value="{{ user.bg_color }}">
                </div>
    
                <div class="form-customiser" >
                    <label for="bg_font_color">Couleur de la police à associer à l'arrière plan</label>
                    <input type="color" id="bg_font_color" name="bg_font_color" value="{{ user.bg_font_color }}">
                </div>
    
                <div class="form-customiser" >
                    <!-- <label for="fontPreview">Font Previews:</label> -->
                    <div id="fontPreview1" style="font-size: 12px; border: 1px solid #ccc;padding: 10px;font-family: {{user.fontFamily}};background-color: {{user.bg_color}};color: {{user.bg_font_color}};">
                        Aperçu du style de l'arrière plan
                    </div>
                </div>

                <div class="form-customiser" >
                    <label for="title_color">Couleur des titre:</label>
                    <input type="color" id="title_color" name="title_color" value="{{ user.title_color }}">
                </div>
    
                <div class="form-customiser" >
                    <label for="title_font_color">Couleur de la police des titres:</label>
                    <input type="color" id="title_font_color" name="title_font_color" value="{{ user.title_font_color }}">
                </div>
    
                <div class="form-customiser" >
                    <div id="fontPreview2" style="font-size: 12px; border: 1px solid #ccc; padding: 10px;font-family: {{user.fontFamily}};background-color: {{user.title_color}};color: {{user.title_font_color}};">
                        Aperçu du style des titres
                    </div>
                </div>

                <div class="form-customiser" >
                    <label for="attribut_color">Couleur des attributs:</label>
                    <input type="color" id="attribut_color" name="attribut_color" value="{{ user.attribut_color }}">
                </div>
                <div class="form-customiser" >
                    <label for="attribut_font_color">Couleur de la police des attributs:</label>
                    <input type="color" id="attribut_font_color" name="attribut_font_color" value="{{ user.attribut_font_color }}">
                </div>
    
                <div class="form-customiser" >
                    <div id="fontPreview3" style="font-size: 12px; border: 1px solid #ccc; padding: 10px;font-family: {{user.fontFamily}};background-color: {{user.attribut_color}};color: {{user.attribut_font_color}};">
                        Aperçu du style des attributs
                    </div>
                </div>

            
            <!-- <button type="button" onclick="enableInputs()">Edit Profile</button> -->
            <button type="submit">Update Profile</button>
            <button type="button" onclick="window.location.reload()">Cancel</button>
        </form>
                </div>
            </div>

        <form method="POST" action="{{ url_for('preparer') }}" id="report-form"  style="margin-left: 0px;margin-right: 0px;">
            {{ form.hidden_tag() }}  <!-- This includes the CSRF token -->
            <label for="city">Sélectionner ou renseigner une ville :</label>
            <!-- <select name="city" id="city">
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select> -->

            <input list="cities" name="city" id="city" placeholder="Sélectionner ou renseigner une ville" required>
            <datalist id="cities">
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </datalist>

            <br><br>
            
            <label for="property_type">Sélectionner un type de bien:</label>
            <select name="property_type" id="property_type">
                <option value="Appartement">Appartement</option>
                <option value="Maison">Maison</option>
            </select>
            <br><br>
            
            <div class="loader" id="generatereportbuttonloader" style="display: none;"></div>
            
            <button type="submit" id="genrep-button">Générer un rapport</button>
        </form>


        <div id="message-container"></div>


    {%endif%}
{%endif%}

<script>
    // document.getElementById('bg_font_color').addEventListener('click', function(event) {
    //     let colorInput = this;

    //     // Temporarily move the input to the left of the screen
    //     colorInput.style.position = 'fixed';
    //     colorInput.style.left = '0px';
    //     colorInput.style.bottom = '10px'; // Keep it near the bottom for visibility
    //     colorInput.style.zIndex = '9999';

    //     // Function to reset input position
    //     function resetPosition() {
    //         colorInput.style.position = '';
    //         colorInput.style.left = '';
    //         colorInput.style.bottom = '';
    //         colorInput.style.zIndex = '';

    //         // Remove event listeners to prevent unnecessary checks
    //         document.removeEventListener('keydown', handleEscape);
    //         document.removeEventListener('click', handleOutsideClick);
    //     }

    //     // Listen for Escape key to reset
    //     function handleEscape(event) {
    //         if (event.key === "Escape") {
    //             resetPosition();
    //         }
    //     }

    //     // Listen for outside click to reset
    //     function handleOutsideClick(event) {
    //         if (!colorInput.contains(event.target)) {
    //             resetPosition();
    //         }
    //     }

    //     // Attach event listeners
    //     document.addEventListener('keydown', handleEscape);
    //     document.addEventListener('click', handleOutsideClick);
    // });
</script>
<script>
    const pickr = Pickr.create({
        el: '#color-picker',
        theme: 'classic', // or 'monolith', 'nano'
        default: '{{ user.bg_font_color }}',
        position: 'bottom-middle', // Ensures it appears at the bottom
        components: {
            preview: true,
            opacity: true,
            hue: true,
            interaction: {
                input: true,
                save: true
            }
        }
    });

    pickr.on('change', (color) => {
        document.getElementById('bg_font_color').value = color.toHEXA().toString();
    });

    // Update input value on color change
    pickr.on('save', (color) => {
        console.log("picker saved");
        
        document.getElementById('bg_font_color').value = color.toHEXA().toString();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const  accept_mes_endone  = document.getElementById('accept-mes_endone');
        accept_mes_endone.addEventListener('click', function() { 
            window.location.href = "/pricing";
        });
    });
</script>
{% if  rep_count %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                window.location.href = "/pricing";  // Redirect to /pricing
            }, 5000);  // 5000ms = 5 seconds
            // const banner = document.getElementById('rep-consent-banner');
            // const acceptButton = document.getElementById('accept-mes');

            

            // acceptButton.addEventListener('click', function() { 
            //     banner.style.display = 'none';
            // });
        });
        document.addEventListener('DOMContentLoaded', function() { 
            const banner = document.getElementById('rep-consent-banner');
            const acceptButton = document.getElementById('accept-mes');

            

            acceptButton.addEventListener('click', function() { 
                window.location.href = "/pricing";
            });
        });
    </script>

{%else%}

    <button type="button" id="download-button">Download Report</button>

            <script>

                    document.addEventListener('DOMContentLoaded', function() {
                        const form = document.getElementById('report-form');
                        const downloadButton = document.getElementById('download-button');
                        const messageContainer = document.getElementById('message-container');
                        const loader = document.getElementById('generatereportbuttonloader');  // Reference to the loader
                        const genrepButton = document.getElementById('genrep-button');

                        form.addEventListener('submit', function(event) {
                            event.preventDefault(); // Prevent default form submission
                            genrepButton.style.display = 'none';
                            loader.style.display = 'block';  // Show the loader
                
                            const formData = new FormData(form);
                            fetch(form.action, {
                                method: 'POST',
                                body: formData
                            })
                            .then(response => response.json())
                            .then(data => {
                                messageContainer.innerHTML = `<div class="message ${data.message_class}">${data.message}</div>`;
                                
                                // if (data.report_available) {
                                //     downloadButton.style.display = 'inline'; // Show the download button
                                //     downloadButton.setAttribute('data-report-name', data.report_name);
                                // } else {
                                //     downloadButton.style.display = 'none'; // Hide the download button
                                // }

                                // ---------------------- TEST
                                if (data.message_class === 'success') {
                                    if (data.report_available) {
                                        console.log("prep htm av");
                                        
                                        downloadButton.style.display = 'inline'; // Show the download button
                                        downloadButton.setAttribute('data-report-name', data.report_name);
                                    } else {
                                        console.log("prep htm no av");
                                        downloadButton.style.display = 'none'; // Hide the download button
                                    }

                                    if (data.reports_count_flag === "false") {
                                        console.log("Reports count flag is false");
                                        const  the_step =  document.getElementById('the_step');
                                        the_step.style.display = 'none';
                                        const  the_form =  document.getElementById('report-form');
                                        the_form.style.display = 'none';
                                        const  the_mesgehere =  document.getElementById('rep-consent-banner_endone');
                                        the_mesgehere.style.display = 'block';
                                        // genrepButton.style.display = 'none'; // Hide the "Generate Report" button
                                    } else {
                                        console.log("Reports count flag is true");
                                        genrepButton.style.display = 'inline';
                                    }
                                } else {
                                    genrepButton.style.display = 'inline';
                                }
                                // ---------------------- END TEST
                            })
                            .catch(error => console.error('Error submitting the form:', error))
                            .finally(() => {
                            loader.style.display = 'none';  // Hide the loader after response
                            });
                            
                        });
                
                        downloadButton.addEventListener('click', function() {
                            const reportName = this.getAttribute('data-report-name');
                            const downloadUrl = `{{ url_for('download', report_name='') }}${reportName}`;
                            downloadButton.style.display = 'none';
                            const downloadbuttonloader = document.getElementById('downloadbuttonloader');
                            downloadbuttonloader.style.display = 'block';
                
                            fetch(downloadUrl)
                                .then(response => {
                                    if (response.ok) {
                                        return response.blob();
                                    } else {
                                        throw new Error('File not found');
                                    }
                                })
                                .then(blob => {
                                    const url = window.URL.createObjectURL(blob);
                                    const a = document.createElement('a');
                                    a.style.display = 'none';
                                    a.href = url;
                                    a.download = reportName;
                                    document.body.appendChild(a);
                                    a.click();
                                    window.URL.revokeObjectURL(url);
                
                                    // Remove the message and button after download
                                    messageContainer.innerHTML = '';
                                    downloadbuttonloader.style.display = 'none';
                                    // downloadButton.style.display = 'none';
                                })
                                .catch(error => console.error('Error downloading the file:', error));
                                
                        });
                    });


        function validateForm() {
            const successMessage = document.getElementById('success-message');

            if (successMessage && successMessage.innerText) {
                // Show the error message
                successMessage.style.display = 'block';
                return false;  // Prevent form submission
            } else {
                // Hide the error message if passwords match
                successMessage.style.display = 'none';
                return true;  // Allow form submission
            }
        }


        document.addEventListener('DOMContentLoaded', function() {
            const input = document.getElementById('city');
            const datalist = document.getElementById('cities');

            let timeout;
            input.addEventListener('input', function() {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    // Optionally, you can filter the options based on input value
                    const value = input.value.toLowerCase();
                    const options = Array.from(datalist.options);
                    options.forEach(option => {
                        option.style.display = option.value.toLowerCase().includes(value) ? 'block' : 'none';
                    });
                }, 300); // Adjust the delay as needed
            });
        });
        
        

        
     


    // Update the font preview dynamically based on user selection
    function updateFontPreview() {
        const fontFamily = document.getElementById('fontFamily').value;
        
        // Get color values
        const bgColor = document.getElementById('bg_color').value;
        const bgFontColor = document.getElementById('bg_font_color').value;
        const titleColor = document.getElementById('title_color').value;
        const titleFontColor = document.getElementById('title_font_color').value;
        const attributColor = document.getElementById('attribut_color').value;
        const attributFontColor = document.getElementById('attribut_font_color').value;

        // Update previews
        const preview1 = document.getElementById('fontPreview1');
        preview1.style.fontFamily = fontFamily;
        preview1.style.backgroundColor = bgColor;
        preview1.style.color = bgFontColor;

        const preview2 = document.getElementById('fontPreview2');
        preview2.style.fontFamily = fontFamily;
        preview2.style.backgroundColor = titleColor;
        preview2.style.color = titleFontColor;

        const preview3 = document.getElementById('fontPreview3');
        preview3.style.fontFamily = fontFamily;
        preview3.style.backgroundColor = attributColor;
        preview3.style.color = attributFontColor;
    }


    // Attach event listeners to update previews on input change
    document.getElementById('fontFamily').addEventListener('change', updateFontPreview);
    document.getElementById('bg_color').addEventListener('input', updateFontPreview);
    document.getElementById('bg_font_color').addEventListener('input', updateFontPreview);
    document.getElementById('title_color').addEventListener('input', updateFontPreview);
    document.getElementById('title_font_color').addEventListener('input', updateFontPreview);
    document.getElementById('attribut_color').addEventListener('input', updateFontPreview);
    document.getElementById('attribut_font_color').addEventListener('input', updateFontPreview);


    function uploadLogo() {
        const logoInput = document.getElementById('logo');
        const formData = new FormData();
        formData.append('logo', logoInput.files[0]);

        const csrfToken = document.querySelector('[name="csrf_token"]').value;

        fetch('/upload_logo', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken   
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.url) {
                loadLogoToCanvas(data.url);
            } else {
                console.error(data.error);
            }
        })
        .catch(error => console.error('Error uploading logo:', error));
    }

    function loadLogoToCanvas(url) {
        const canvas = document.getElementById('colorCanvas');
        const theabuserImage = document.getElementById('orgimg');
        theabuserImage.src = url;
        theabuserImage.style.display = 'block';
    }

    function toggleDetails(id) {
            var details = document.getElementById(id);
            var icon = details.previousElementSibling.querySelector('.toggle-icon');
            if (details.style.display === "none" || details.style.display === "") {
                details.style.display = "block";
                icon.textContent = "-";
            } else {
                details.style.display = "none";
                icon.textContent = "+";
            }
        }

        
        </script>
    <div class="loader" id="downloadbuttonloader" style="display: none;justify-self: center;"></div>
{%endif%}
{% endblock %}
