{% extends 'baseV3.html' %}

{% block title %}Pricing{% endblock %}

{% block content %}
<div style = "padding:20px;"><h2 style="text-align:center">Politique de Prix</h2></div>
    <div  >
        

       <div class="columns_wrap">
        {% if  subs_flag %}
            <div class="columns">
                <ul class="price">
                    {% if free_flag %}
                        <li class="header" style="background-color:#04AA6D">Essai</li>
                        <li class="grey">0 €</li>
                        <li>1 rapport offert</li>
                        <li class="grey">
                            <a href="{{ url_for('pricing', free_report='121') }}" class="buttonPric" style="background-color:#04AA6D; color: white;">Commander</a> 
                        </li>
                    {% else %}

                        <li class="header" style="background-color:#04AA6D">Current Package: Essai</li>
                        <li class="grey">Total Reports: 1 </li>
                        {% if  current_user.downloaded_current  %}
                            <li>Downloaded Reports:{{current_user.downloaded_current}}</li>
                        {% else %}
                            <li>Downloaded Reports:0</li>
                        {% endif %}
                        <li class="grey"></li>


                    {% endif %}

                </ul>
            </div>
            <div class="columns">
                <ul class="price">
                    <li class="header">3 mois</li>
                    <li class="grey">300 €</li>
                    <!-- <li>58,50 €</li> -->
                    <!-- <li>Prix unitaire : 58,50 €</li> -->
                    <li>100 € / mois</li>
                    <!-- <li>100 € / mois</li> -->
                    <!-- <li>Prix : 175,50 €</li> -->

                    <li class="grey">
                        
                            <a href="{{ url_for('paym_form', package='3') }}" class="buttonPric">Commander</a>
                        
                    </li>
                </ul>
            </div>

            <div class="columns">
                <ul class="price">
                    <li class="header">6 mois</li>
                    <li class="grey">510 €</li>
                    <!-- <li>55,25 €</li> -->
                    <!-- <li>Prix unitaire : 55,25 €</li> -->
                    <li>85 € / mois</li>
                    <!-- <li>- 58,50 €</li> -->
                    <!-- <li>Prix : 331,50 €</li> -->

                    <li class="grey">
                        
                            <a href="{{ url_for('paym_form', package='6') }}" class="buttonPric">Commander</a>
                        
                    </li>
                </ul>
            </div>

            <div class="columns">
                <ul class="price">
                    <li class="header" style="background-color:#111"> 1 an</li>
                    <li class="grey">900 €</li>
                    <!-- <li>48,75 €</li> -->
                    <!-- <li>Prix unitaire : 48,75 €</li> -->
                    <li>75 € / mois</li>
                    <!-- <li>- 195,00 €</li> -->
                    <!-- <li>Prix : 585,00 €</li> -->

                    <li class="grey">
                        
                            <a href="{{ url_for('paym_form', package='12') }}" class="buttonPric">Commander</a>
                        
                    </li>
                </ul>
            </div>
        {%else%}

        <table style = "width:70%; border: 1px solid #111; margin: auto;">
            <thead style = " background-color:#111 ; width : 100%; text-align:center;">
                <tr style="background-color:#111; color:white; text-align:center;">
                    <th style = "text-align: center;" colspan="2">Forfait actuel: {{current_user.subs_type}}</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:#f5f5f5;">
                    <td>Rapports totaux :</td>
                    <td>{{current_user.total_reports}}</td>
                </tr>
                <tr>
                    <td>Rapports téléchargés:</td>
                    <td>{{current_user.downloaded_current}}</td>
                </tr>
                <tr style="background-color:#f5f5f5;">
                    <td>Rapports restants :</td>
                    <td>{{current_user.reports_count}}</td>
                </tr>
                <tr>
                    <td>Date de début de l'abonnement:</td>
                    <td>{{current_user.subs_start.strftime('%d-%m-%Y')}}</td>
                </tr>
                <tr style="background-color:#f5f5f5;">
                    <td>Date de fin d'abonnement :</td>
                    <td>{{current_user.subscription_ends.strftime('%d-%m-%Y')}}</td>
                </tr>
            </tbody>
        </table>
        

        {%endif%}

       </div>
    </div>
  



{% endblock %}